$pd-container: 10px;

.main-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19;
  align-items: center;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #ddd;
  background-color: white;
}
.header-content-container {
  padding-left: $pd-container;
  padding-right: $pd-container;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.header-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #121230;
}
.drawer-button {
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    border: none;
    outline: none;
  }
}

// Nav Desktop
.header-nav {
  & .nav {
    display: inline-block;
    margin-right: 1rem;

    & > a {
      color: rgba(0, 0, 0, 0.87);

      &:hover {
        color: #803efb;
        text-shadow: 0 0 0.01px #803efb, 0 0 0.01px #803efb, 0 0 0.01px #803efb;

        &::after {
          content: '';
          width: 100%;
          height: 2px;
          display: block;
          position: relative;
          top: 16px;
          background-color: #803efb;
        }
      }
    }
  }
}

.nuxt-link-exact-active {
  color: #803efb !important;
  text-shadow: 0 0 0.01px #803efb, 0 0 0.01px #803efb, 0 0 0.01px #803efb;
}

@media screen and (max-width: 768px) {
  .main-header {
    box-shadow: 3px 0 15px 5px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .main-header {
    box-shadow: 3px 0 15px 5px rgba(0, 0, 0, 0.12);
  }
}
