$margin-contents: 1rem;
$margin-profile-name: 0.7rem;
$avatar-size: 40px;

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 100%;
  background-color: white;
  position: fixed;
  z-index: 18;
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.09);
  padding: 0.8rem;
}
// Header in Sidebar
.sidebar-header {
  width: 100%;
}
.sidebar-header-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile {
  &-img-name-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-img {
    & > img {
      height: $avatar-size;
      border-radius: 50%;
    }
  }
  &-name {
    font-weight: bold;
    padding-bottom: 10px;
    margin-left: $margin-profile-name;
  }
  &-link {
    display: flex;
    position: fixed;
    bottom: 25px;
    flex-direction: row;
    margin-top: $margin-contents;

    & > div {
      margin-left: $margin-contents;
      margin-right: $margin-contents;
    }

    & > .github > a {
      color: black;
      cursor: pointer;
    }

    & > .facebook > a {
      color: #3b5998;
      cursor: pointer;
    }
  }
}
// Contents in Sidebar
.sidebar-contents > div {
  margin-top: $margin-contents;
  margin-bottom: $margin-contents;
}
