$margin-contents: 1rem;
$margin-profile-name: 0.7rem;
$avatar-size: 40px;

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 100%;
  background-color: white;
  position: fixed;
  z-index: 18;
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.09);
  padding: 0.8rem;
}
// Header in Sidebar
.sidebar-header {
  width: 100%;
}
.sidebar-header-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile {
  &-img-name-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-img {
    & > img {
      height: $avatar-size;
      border-radius: 50%;
    }
  }
  &-name {
    font-weight: bold;
    padding-bottom: 10px;
    margin-left: $margin-profile-name;
  }
  &-link {
    display: flex;
    position: fixed;
    bottom: 25px;
    flex-direction: row;
    margin-top: $margin-contents;

    & > div {
      margin-left: $margin-contents;
      margin-right: $margin-contents;
    }

    & > .github > a {
      color: black;
      cursor: pointer;
    }
  }
}

// Contents in Sidebar
.sidebar-contents > div {
  margin-top: $margin-contents;
  margin-bottom: $margin-contents;
}

.content {
  &-tag > &-header,
  &-series > &-header {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.menu-label-custom {
  letter-spacing: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
}

.menu-list-item-custom {
  &::v-deep a.is-active {
    background-color: #803efb;
    color: #fff;
  }
  &::v-deep ul li a:hover {
    background-color: #803efb;
    color: #fff;
  }
}

.content-tag {
  & > .tag-wrapper {
    padding-left: 0.5rem;

    & > .tag-list {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;

      & > .tag-name > a {
        color: inherit;
        padding-bottom: 2.5px;

        &:hover {
          font-weight: bold;
        }
      }

      & > .tag-count {
        color: white;
        margin-left: 3px;
        padding: 1px 7px;
        background-color: orangered;
        border-radius: 100%;
        font-size: 0.8rem;
      }
    }
  }
}

.sidebar.mobile-show {
  display: flex !important;
  animation: mobileSidebar 0.5s ease-in-out;
}

.sidebar.mobile-show-leave {
  animation: mobileSidebarLeave 0.5s ease-in-out;
}

@keyframes mobileSidebar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mobileSidebarLeave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}